<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/xterm@4.15.0/lib/xterm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/xterm@4.15.0/css/xterm.css"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
        border: 0;
      }
      body {
        background-color: black;
      }
      #terminal {
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <div id="terminal"></div>
    <script>
      var term = new Terminal();
      var fitAddon = new FitAddon.FitAddon();
      term.loadAddon(fitAddon);
      term.open(document.getElementById("terminal"));
      fitAddon.fit();
      var dataEventTarget = new EventTarget();

      term.onData(function (data) {
        const evt = new Event("data");
        evt.data = data;
        dataEventTarget.dispatchEvent(evt);
      });

      function connect() {
        var conn = new WebSocket(
          "ws://" + location.host + "/container/connect"
        );
        var sendData = function (evt) {
          conn.send(JSON.stringify({ type: 0, data: evt.data }));
        };
        dataEventTarget.addEventListener("data", sendData);
        var syncResize = function () {
          fitAddon.fit();
          var dim = fitAddon.proposeDimensions();
          if (conn.readyState == conn.OPEN) {
            conn.send(JSON.stringify({ type: 1, data: [dim.rows, dim.cols] }));
          }
        };
        var timer = setInterval(syncResize, 30000);
        window.addEventListener("resize", syncResize, false);

        conn.binaryType = "arraybuffer";
        conn.addEventListener("open", () => {
          syncResize();
          term.focus();
        });
        conn.addEventListener("message", async (message) => {
          term.write(new Uint8Array(message.data));
        });
        conn.addEventListener("error", (err) => {
          console.error(err);
          conn.close();
        });
        conn.addEventListener("close", () => {
          clearInterval(timer);
          dataEventTarget.removeEventListener("data", sendData);
          setTimeout(() => {
            term.write("Try To Reconnect...\r\n");
            connect();
          }, 1000);
        });
      }
      connect();
    </script>
  </body>
</html>
